* text=auto
*.js text eol=lf
*.mjs text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.wgsl text eol=lf
*.glsl text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
*.png binary
*.jpg binary
*.ogg binary
*.bundle binary
